.sucess_message {
   width: max-content;
    height: 40px;
    border-radius: 5px;
    padding: 4px;
    background-color: #001C30;
    color: #ffff;
    position: absolute;
    top: 3%;
    display: flex;
    align-items: center;
}

.sucess_message span {
    color: rgb(13, 253, 13);
    margin-right: 5px;
}